@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}


.formContainer {
  background-color: #ffff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: #ffff;
    padding: 20px 60px;
    border-radius: 20px;
    border: 1px solid #212121;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    .logo {
      color: #A0C49D;
      font-weight: 900;
      font-size: 30px;
    }

    .title {
      color: #C4D7B2;
      font-size: 22px;
      font-weight: 700;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 24px;

      input {
        padding: 15px;
        width: 250px;
        border-radius: 20px;
        border: 1px solid #212121;
      }
    }

    button {
      background-color: #E1ECC8;
      color: #212121;
      padding: 10px;
      font-weight: 700;
      font-size: 16px;
      border: 1px solid #212121;
      border-radius: 20px;
      cursor: pointer;
    }

    label {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #A0C49D;
      font-size: 12px;
      cursor: pointer;

      img {
        width: 32px;
      }
    }
    .addavatarimg{
      margin-left: 20px;
    }
    .avatar{
      font-style: italic;
    }
  }
  p {
    color: #A0C49D;
    font-size: 12px;
    margin-top: 10px;
  }
}

.home {
  background-color: #ffff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid #212121;
    border-radius: 20px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
    @include tablet {
      width: 90%;
    }

    .sidebar {
      flex: 1;
      background-color: #ffff;
      position: relative;


      .navbar {
        display: flex;
        align-items: center;
        background-color: #A0C49D;
        height: 50px;
        padding: 10px;
        justify-content: space-between;

        .logo {
          font-size: 18px;
          font-weight: bold;
          margin-right: 30px;
          @include tablet {
            display: none;
          }
        }

        .user {
          display: flex;
          gap: 10px;
          font-size: 14px;
          font-style: italic;
          font-weight: 600;
          align-items: center;
          margin-right: 10px;
          

          img {
            background-color: #E4FAFF;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        button {
            background-color: #E1ECC8;
            color: #212121;
            padding: 10px;
            font-weight: bold;
            border: 0.5px solid #212121;
            border-radius: 20px;
            cursor: pointer;
            @include tablet {
              position: absolute;
              bottom: 10px;
            }
          } 
      }
     

      .search {
        border-bottom: 1px solid #D9D9D9;

        .searchForm {
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            color: #212121;
            outline: none;
            font-style: italic;
            font-size: 14px;

            &::placeholder {
              color: lightgray;
            }
          }
        }
      }
    

      .userChat {
        margin-top: 30px;
        margin-right: 15px;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 15px;
        background-color: #E1ECC8;
        color: #212121;
        border-radius: 0px 50px 50px 0px;
        cursor: pointer;

        &:hover {
          background-color: #A0C49D;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userChatInfo {
          span {
            font-size: 15px;
            font-weight: bold;
          }
          p {
            font-size: 12px;
            color: #212121;
            font-style: italic;
          }
        }
      }
    }

    .chat {
      flex: 2;
      overflow: auto;

      .chatInfo {
        height: 50px;
        background-color: #F7FFE5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        padding-left: 30px;
        color: #212121;
        font-weight: 400;
        font-size: 20px;
      }

      .chatIcons {
        display: flex;
        gap: 15px;

        img {
          height: 30px;
          cursor: pointer;
        }
      }

      .messages {
        background-color: #C4D7B2;
        padding: 10px;
        height: calc(100% - 160px);
        overflow: scroll;

        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: #212121;
            font-weight: 200;
            font-size: 8px;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              background-color: #F7FFE5;
              color: #212121;
              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
              max-width: max-content;
            }

            img {
              width: 50%;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .messageContent {
              align-items: flex-end;
              p {
                background-color: #F7FFE5;
                color: #212121;
                border-radius: 10px 0 10px 10px;
              }
            }
          }
        }
      }

      .input {
        height: 50px;
        background-color: #F7FFE5;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: 75%;
          border: 1px solid #212121;
          border-radius: 25px;
          outline: none;
          font-size: 20px;
          padding: 3px 0 6px 13px;

          &::placeholder {
            color: #212121;
            font-size: 12px;
            font-style: italic;
          }
        }

        .send {
          display: flex;
          align-items: center;
          gap: 12px;

          img {
            height: 24px;
            cursor: pointer;
          }

          button {
            background-color: #E1ECC8;
            color: #212121;
            padding: 10px 15px;
            font-weight: bold;
            border: 0.5px solid #212121;
            border-radius: 20px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
  background-color: #A0C49D;
}
